/* ==RESET GLOBAL== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(233, 232, 232);
    height: 100vh;
}

.interface {
    max-width: 90vw;
    margin: 0 auto;
}
/*==FIM DO RESET GLOBAL==*/

/*==MENU SUPERIOR==*/
header {
    padding: 0 10%;
    box-shadow: black 0px 2px 10px;
    height: 6vh;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6vh;
}

.logo img {
    width: clamp(60px, 5vw, 100px);
}


header nav ul li {
    display: inline-block;
    padding: 0 20px;
}

header a {
    list-style-type: none;
    color: rgb(87, 85, 85);
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    transition: .2s;
    font-size: 1vw;
}

header a:hover {
    color: black;
    transform: scale(1.1);
}

header .btn-contato button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: .5em 1em;
    font-size: 12px;
    font-weight: 600;
    background-color: #25D366;
    color: rgb(238, 238, 238);
    border-radius: 20px;
    border: none;
    box-shadow: black 2px 2px 10px;
    cursor: pointer;
    animation: buttonPulse 2s infinite;
}

.whatsapp{
    width: 1vw;
    display: inline-block;
}

header .btn-contato button:hover {
    box-shadow: 0px 0px 8px green;
    animation: none;
}

header .btn-contato button:hover .whatsapp {
    animation: iconPulse .8s infinite;
    transform-origin: center;
}


@keyframes buttonPulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes iconPulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}

/*==FIM DO MENU SUPERIOR*/


/*==BANNER PRINCIPAL==*/
.banner {
    background: #8c8c8c;
    padding: .5em 0;
}

#slider {
    padding: 2vw 0 0 0;
    width: 79vw;
    margin: 0 auto;
    text-align: center;
    position: relative;
    height: 80vh;
}

#slides {
    height: 60%;
}

#overflow {
    overflow: hidden;
    height: 100%;
}

#slides .inner {
    display: flex;
    width: 400%;
    height: 100%;
    transition: .8s;
}

.slide {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}

.slide_1 {
    background: black;/*==fundo do slide 1==*/
}

.slide_2 {
    background: blue;/*==fundo do slide 2==*/
}

.slide_3 {
    background: green;/*==fundo do slide 3==*/
}

.slide_4 {
    background: goldenrod;/*==fundo do slide 4==*/
}

input[type=radio] {
    display: none;
}

#slide1:checked~#slides .inner {
    margin-left: 0;
}

#slide2:checked~#slides .inner {
    margin-left: -100%;
}

#slide3:checked~#slides .inner {
    margin-left: -200%;
}

#slide4:checked~#slides .inner {
    margin-left: -300%;
}

#bullets label {
    display: inline-block;
    width: 1vw;
    height: 1vw;
    margin: 0 .5vw;
    background: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: transform .3s;
}

#bullets label:hover {
    transform: scale(1.2);
}

#slide1:checked~#bullets label:nth-child(1),
#slide2:checked~#bullets label:nth-child(2),
#slide3:checked~#bullets label:nth-child(3),
#slide4:checked~#bullets label:nth-child(4) {
    background: #333;
}

#controls label {
    position: absolute;
    top: 33%;
    transform: translateY(-50%);
    width: 3vw;
    height: 2vw;
    cursor: pointer;
    opacity: .6;
}

#controls label:hover {
    opacity: 1;
}

#slide1:checked~#controls label:nth-child(2),
#slide2:checked~#controls label:nth-child(3),
#slide3:checked~#controls label:nth-child(4),
#slide4:checked~#controls label:nth-child(1) {
    right: -50px;
    background: url("https://cdn-icons-png.flaticon.com/512/271/271228.png") center/contain no-repeat;
}

#slide1:checked~#controls label:nth-child(4),
#slide2:checked~#controls label:nth-child(1),
#slide3:checked~#controls label:nth-child(2),
#slide4:checked~#controls label:nth-child(3) {
    left: -50px;
    background: url("https://cdn-icons-png.flaticon.com/512/271/271220.png") center/contain no-repeat;
}

.slider-info {
    text-align: left;
    color: rgb(0, 0, 0);
    opacity: 0;
    transform: translateX(-60px);
    transition: .8s ease;
    height: 28vh;
}

.slider-info.active {
    opacity: 1;
    transform: translateX(0);
}

.slider-info h1 {
    font-size: 2em;
}

.slider-info p {
    font-size: 1em;
    opacity: .85;
}
/*==FIM DO BANNER PRINCIPAL==*/