/* ==RESET GLOBAL== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    height: 100vh;
}

.interface {
    max-width: 90vw;
    margin: 0 auto;
}

/*==INFO BAR==*/
.top-info-bar {
    background: #122b6a;
    color: #fff;
    padding: .3vw 0;
    font-size: .8vw;
}

.top-info-wrapper {
    padding: 0 10%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.top-left {
    text-align: left;
}

.top-center {
    text-align: center;
    font-weight: 600;
}

.top-right {
    text-align: right;
}

.top-info-bar a {
    color: inherit;
    text-decoration: none;
}

.top-info-bar a:hover {
    opacity: .85;
}

/*==MENU SUPERIOR==*/
header {
    position: sticky;
    top: 0;
    z-index: 9999;
    padding: 0 10%;
    height: 6vh;
    background: #1a93cc
}

header>.interface {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
}

.logo-text {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: white;
}

.logo-big {
    font-size: 2.2vw;
    font-weight: 800;
    letter-spacing: -1px;
}

.logo-small {
    font-size: .7vw;
    line-height: 1.2;
    font-weight: 500;
    opacity: .8;
}

.menu-desktop {
    margin-left: auto;
    display: flex;
}

header nav ul li {
    display: inline-block;
    padding: 0 20px;
    list-style: none;
}

header nav a {
    position: relative;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1vw;
    display: inline-block;
    transition: .2s;
}

header nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2vw;
    background: #122b69;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .45s ease;
    border-radius: .1vw;
}

header nav a:hover {
    color: #122b69;
    transform: scale(1.1);
}

header nav a:hover::after {
    transform: scaleX(1);
}

/*==BANNER PRINCIPAL==*/
.banner {
    background: white;
}

#slider {
    padding: 1.5vw 0 0 0;
    width: 79vw;
    height: auto;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

#slides {
    height: 20vw;
}

#overflow {
    overflow: hidden;
    height: 100%;
    border-radius: 1.5vw;
    border: solid #1a93cc .2vw;

}

#slides .inner {
    display: flex;
    width: 400%;
    height: 100%;
    transition: .8s;
}

.slide {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    padding: 0 6vw;
}

.slide h2 {
    font-size: 3.2vw;
    font-weight: 700;
    max-width: 60vw;
    line-height: 1.2;
    text-align: left;
    text-shadow:
        0 2px 6px rgba(0, 0, 0, .6),
        0 6px 18px rgba(0, 0, 0, .4);
}

.slide p {
    font-size: 1.3vw;
    margin-top: .8vw;
    max-width: 60vw;
    text-align: left;
    text-shadow:
        0 2px 6px rgba(0, 0, 0, .5),
        0 4px 12px rgba(0, 0, 0, .35);
}

.slide_1 {
    background-image: url("../img/banner-principal-1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.slide_2 {
    background-image: url("../img/banner-principal-2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.slide_3 {
    background-image: url("../img/banner-principal-3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.slide_4 {
    background-image: url("../img/banner-principal-4.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

input[type=radio] {
    display: none;
}

#slide1:checked~#slides .inner {
    margin-left: 0;
}

#slide2:checked~#slides .inner {
    margin-left: -100%;
}

#slide3:checked~#slides .inner {
    margin-left: -200%;
}

#slide4:checked~#slides .inner {
    margin-left: -300%;
}

#bullets label {
    display: inline-block;
    width: 1vw;
    height: 1vw;
    margin: 1VW .5vw;
    background: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: transform .3s;
}

#bullets label:hover {
    transform: scale(1.2);
}

#slide1:checked~#bullets label:nth-child(1),
#slide2:checked~#bullets label:nth-child(2),
#slide3:checked~#bullets label:nth-child(3),
#slide4:checked~#bullets label:nth-child(4) {
    background: #1a93cc;
}

#controls label {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    width: 3vw;
    height: 2vw;
    cursor: pointer;
    opacity: .6;
    margin: 0 -1vw;
    color: #1a93cc;
}

#controls label:hover {
    opacity: 1;
}

#slide1:checked~#controls label:nth-child(2),
#slide2:checked~#controls label:nth-child(3),
#slide3:checked~#controls label:nth-child(4),
#slide4:checked~#controls label:nth-child(1) {
    right: -50px;
    background: url("https://cdn-icons-png.flaticon.com/512/271/271228.png") center/contain no-repeat;
}

#slide1:checked~#controls label:nth-child(4),
#slide2:checked~#controls label:nth-child(1),
#slide3:checked~#controls label:nth-child(2),
#slide4:checked~#controls label:nth-child(3) {
    left: -50px;
    background: url("https://cdn-icons-png.flaticon.com/512/271/271220.png") center/contain no-repeat;
}

.slider-logo {
    width: 15vw;
    min-width: 15vw;
}

.slider-info {
    text-align: left;
    color: #122b6a;
    opacity: 0;
    transform: translateX(-60px);
    transition: .8s ease;
    height: 16vh;
    display: flex;
    align-items: center;
    gap: 1.5vw;
    margin: 0;
}

.slider-info.active {
    opacity: 1;
    transform: translateX(0);
}

.slider-info h1 {
    font-size: 2vw;
}

.slider-info p {
    font-size: 1vw;
    opacity: .85;
}

.slider-info p b {
    display: inline-block;
    font-size: 1.2vw;
    transition: transform .3 ease;
}

.slider-info p b:hover {
    font-size: 1.2vw;
    transform: scale(1.01);
}

/*==SCROLL SHOW==*/
.frame-scroll {
    height: 90vh;
    position: relative;
    z-index: 1;
}

#frame-canvas {
    position: relative;
    background-color: white;
    padding-top: 3vw;
    width: 99.2vw;
    height: auto;
    display: block;
    z-index: 1;
}

/*==CARD-SLIDER==*/
.carrosel-wrapper {
    padding: .1vw;
    max-width: 80vw;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.carrosel {
    overflow: hidden;
    position: relative;
    height: 20vw;
    padding: 0;
    margin-bottom: .1vw;
}

.track {
    display: flex;
    gap: 1VW;
    height: 20vw;
    padding: 0;
}

.group {
    display: flex;
    align-items: center;
    gap: 1VW;
    height: 20vw;
    padding: 0;
}

.card {
    padding: .3vw;
    flex: 0 0 auto;
    width: 12vw;
    height: 17.5vw;
    border-radius: 1vw;
    color: black;
    text-align: center;
    margin: 0;
    box-shadow: .1vw .1vw .5vw rgb(124, 124, 124);
    opacity: 0;
    transform: translateY(30px) scale(.95);
    transition: all .6s ease;
}

.card:hover {
    transform: scale(1.05) translateY(-8px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, .35);
}

.card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 1vw;
    display: block;
}

.card h3 {
    margin: .3vw;
    font-size: .8vw;
}

.eletrica .card {
    display: flex;
    flex-direction: column;
}

.eletrica .card a {
    margin-top: auto;
    display: inline-block;
    padding: .3vw 1vw;
    margin-bottom: .8vw;
    align-self: center;
    width: 7vw;
    background: orange;
    color: white;
    border-radius: 1vw;
    text-decoration: none;
    font-size: .8vw;
    font-weight: 600;
    box-shadow: .1vw .1vw .5vw rgb(124, 124, 124);
    text-shadow:
        0 1px 2px rgba(0, 0, 0, 0.4),
        0 2px 4px rgba(0, 0, 0, 0.3);
    transition: all .25s ease;
}

.refrigeracao .card a {
    display: inline-block;
    padding: .3vw 1vw;
    margin-top: 1vw;
    background: #122b6a;
    color: white;
    border-radius: 1vw;
    text-decoration: none;
    font-size: .8vw;
    font-weight: 600;
    box-shadow: 1vw 1vw 1vw black;
    box-shadow: .1vw .1vw .5vw rgb(124, 124, 124);
    text-shadow:
        0 1px 2px rgba(0, 0, 0, 0.4),
        0 2px 4px rgba(0, 0, 0, 0.3);
    transition: all .25s ease;
}

.card a:hover {
    transform: scale(1.05);
}

.card.active {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.card:nth-child(1) {
    transition-delay: .1s;
}

.card:nth-child(2) {
    transition-delay: .2s;
}

.card:nth-child(3) {
    transition-delay: .3s;
}

.card:nth-child(4) {
    transition-delay: .4s;
}

.card:nth-child(5) {
    transition-delay: .5s;
}

.card:nth-child(6) {
    transition-delay: .6s;
}

.reveal-left {
    opacity: 0;
    transform: translateX(-60px);
    transition: .8s ease;
}

.reveal-left.active {
    opacity: 1;
    transform: translateX(0);
}

@keyframes spin {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border-radius: 50%;
    border: .1vw solid #ddd;
    width: 2vw;
    height: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    opacity: .9;
    z-index: 20;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
}

.arrow.left {
    left: -55px;
}

.arrow.right {
    right: -55px;
}

.dots {
    text-align: center;
    margin-top: .1vw;
}

.dots span {
    display: inline-block;
    width: .6vw;
    height: .6vw;
    gap: 1vw;
    background: #c0c0c0;
    border-radius: 50%;
    margin: .3vw;
}

.dots span:nth-child(1) {
    animation: dot 40s infinite;
}

.dots span:nth-child(2) {
    animation: dot 40s infinite 13s;
}

.dots span:nth-child(3) {
    animation: dot 40s infinite 26s;
}

@keyframes dot {

    0%,
    20% {
        background: #333;
    }

    21%,
    100% {
        background: #ccc;
    }
}

.titulo-eletrica {
    display: flex;
    font-size: .9vw;
    align-items: center;
    justify-content: center;
}

.titulo-refrigeracao {
    display: flex;
    font-size: .9vw;
    align-items: center;
    justify-content: center;
    margin-top: 3vw;
}

.carrosel {
    position: relative;

    -webkit-mask-image: linear-gradient(to right,
            transparent 0%,
            black 8%,
            black 92%,
            transparent 100%);

    mask-image: linear-gradient(to right,
            transparent 0%,
            black 8%,
            black 92%,
            transparent 100%);
}

/*==MODAL==*/
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .65);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
    backdrop-filter: blur(6px);
    z-index: 999;
}

.modal.active {
    opacity: 1;
    pointer-events: auto;
}

.modal-content {
    width: 75vw;
    max-width: 1000px;
    background: white;
    border-radius: 1vw;
    overflow: hidden;
    box-shadow: 0 25px 60px rgba(0, 0, 0, .45);
    animation: modalUp .35s ease;
}

.modal-banner {
    position: relative;
    height: 18vw;
    min-height: 240px;
}

.modal-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-gradient {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, transparent 40%, rgba(0, 0, 0, .7));
}

.modal-banner h2 {
    position: absolute;
    bottom: 1.5vw;
    left: 2vw;
    color: white;
    font-size: 2vw;
}

.modal-body {
    padding: 2vw;
}

.modal-body p {
    font-size: .95vw;
    line-height: 1.6;
    color: #333;
}

@keyframes modalUp {
    from {
        transform: translateY(40px);
        opacity: 0;
    }
}

/*==QUEM SOMOS==*/
.quem-somos {
    padding: .5vw 0;
    background: #fff;
    color: #122b6a;
    margin-top: 3vw;
}

.quem-somos h1 {
    text-align: center;
    font-size: 2.7vw;
    margin-bottom: 1vw;
}

.quem-desc {
    text-align: center;
    max-width: 70vw;
    margin: 0 auto 3vw;
    font-size: 1.1vw;
    font-weight: 600;
    opacity: .8;
}

.quem-cards {
    max-width: 80vw;
    margin: 5vw auto;
    display: flex;
    gap: 2vw;
    justify-content: space-between;
    align-items: stretch;
}

.quem-card {
    background: #f3f3f3;
    padding: .5vw;
    border-radius: 1vw;
    width: 25vw;
    text-align: center;
    transition: .3s;
}

.quem-card:hover {
    transform: translateY(-8px);
}

.quem-card span {
    font-size: 2vw;
    display: block;
    margin-bottom: .2vw;
}

.quem-card h2 {
    font-size: 1.8vw;
    margin-bottom: .3vw;
}

.quem-card p {
    font-size: 1vw;
    opacity: .8;
    font-weight: 500;
}


/*==MARCAS PARCEIRAS==*/
.parceiros-wrapper {
    max-width: 80vw;
    margin: .8vw auto;
    position: relative;
}

.parceiros {
    overflow: hidden;
    padding: .8vw;
}

.parceiros-track {
    display: flex;
    gap: 1vw;
}

.parceiros-group {
    display: flex;
    align-items: center;
    gap: 1vw;
    animation: parceiros-spin 35s infinite linear;
}

.parceiros-group img {
    width: 10vw;
    opacity: .8;
}

@keyframes parceiros-spin {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/*==RODAPÉ==*/
.footer-bottom {
    text-align: center;
    padding: 15px;
    font-size: 12px;
    opacity: .7;
}

.footer {
    background: #666666;
    color: white;
    margin-top: 5px;
}

.footer-container {
    max-width: 80vw;
    margin: 0 auto;
    padding: 60px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.footer-col h4 {
    margin-bottom: 15px;
    font-size: 16px;
}

.footer-col p {
    font-size: 13px;
    line-height: 1.6;
    opacity: .85;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    font-size: 13px;
    margin-bottom: 8px;
    opacity: .85;
}

.footer-logo {
    width: 120px;
    margin-bottom: 15px;
}

.footer-horario {
    margin-top: 15px;
}

.footer-social {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.footer-social a {
    width: 35px;
    height: 35px;
    background: white;
    color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

/*==BOTÃO WHATASAPP==*/
.whatsapp-float {
    position: fixed;
    bottom: 5vw;
    right: 5vw;
    width: 3vw;
    height: 3vw;
    background: #25d366;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 rgba(37, 211, 102, .7);
    animation: pulse-whatsapp 2s infinite;
    z-index: 9999;
}

.whatsapp-float img {
    width: 3vw;
}

@keyframes pulse-whatsapp {
    0% {
        box-shadow: 0 0 0 0 rgba(37, 211, 102, .6);
    }

    70% {
        box-shadow: 0 0 0 20px rgba(37, 211, 102, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(37, 211, 102, 0);
    }
}

.whatsapp-float:hover {
    transform: scale(1.1);
    transition: .3s;
}